@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

#left_img {
  width: 22vw;
  bottom: 18vh;
  left: 30.6vw;
}

#right_img {
  width: 22vw;
  bottom: 12vh;
  right: 32vw;
}

#canvas_container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
  display: flex;
}


#text {
  font-size: 28px;
  font-family: "EF_jejudoldam";
  color: rgb(0, 0, 0);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  color: coral;
}

#complete_btn {
  width: 130px;
  height: 60px;
  right: 29vw;
  position: absolute;
  bottom: -5%;
  font-size: 30px;
  font-family: "EF_jejudoldam";
  border: 3px solid rgb(51, 51, 51);
  background-color: rgb(250, 101, 101);
  border-radius: 50px;
  cursor: pointer;
}
