@keyframes flyAway {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(20%) rotate(10deg);
  }
  100% {
    transform: translate(200%, -200%) rotate(45deg);
  }
}
.houseFlying {
  z-index: 10;
}

.house.flying {
  animation: flyAway 4s ease forwards;
}
