@import './utils.css';

/* body 초기화 */
body {
  margin: 0;
  padding: 0;
  background-color: #badef6;
  /* background-color: rgb(255, 249, 226); */
  height: 100vh;
}

/* p 태그 초기화 */
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* 구름(임시)  */
.container > img {
  position: absolute;
  width: 15vw;
  padding-top: 100px;
  padding-left: 100px;
  z-index: 1;
}

/* header 영역 */
.header {
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
}

/* 자막 영역 */
.text {
  width: 100%;
  padding-top: 50px;
  height: calc(30vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 자막 안 */
.text > span {
  font-family: 'EF_jejudoldam';
  width: 60%;
  padding-top: 16vh;
  font-size: 32px;
  line-height: 7vh;
  z-index: 3;
  text-align: center;
}

/* ---- content ------ */
.content {
  width: 100%;
  height: 70vh;
  display: flex;
}

/* content안의 left, right */
.left,
.right {
  width: 50%;
  /* position: relative; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 3;
}

/* .content img {
  width: 70%;
} */

.wolf {
  /* position: absolute; */
  width: 28vw;
  left: 16vw;
}

.house {
  /* position: absolute; */
  bottom: 4vh;
  width: 32vw;
  right: 14vw;
}

.content .grass {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.content .grass > img {
  width: 100%;
  vertical-align: bottom;
  z-index: 0;
}
