@import './utils.css';

/* p 태그 초기화 */
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* 구름(임시)  */
.container > img {
  position: absolute;
  width: 15vw;
  padding-top: 100px;
  padding-left: 100px;
}

/* header 영역 */
.header {
  background-color: white;
  width: 100%;
  height: 50px;
  position: fixed;
}

/* ---- content ------ */
.content {
  width: 100%;
  height: 70vh;
  display: flex;
}

/* content안의 left, right */
.left,
.right {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}


/* .content img {
  width: 70%;
} */

.content .left .wolf {
  position: absolute;
  bottom: 4vh;
  width: 24vw;
  left: 16vw;
  /* animation: fadein 2.5s; */
  animation: fadeInLeft 1s;
}

.content .right .house {
  position: absolute;
  bottom: 4vh;
  width: 32vw;
  right: 14vw;
}

#right_img:hover {
  cursor: url('../img/cursor2.png'), auto;
}

.content .grass {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.content .grass > img {
  width: 100%;
  vertical-align: bottom;
  z-index: 0;
}

/* ----  /content ------ */

/* 떨리는 효과 애니메이션 */

.vibration2 {
  animation: vibration2 0.1s infinite;
}

@keyframes vibration2 {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

/* 페이드 인 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 왼쪽에서 오른쪽으로 */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
