@import './utils.css';

/* 구름(임시)  */
.container > img {
  position: absolute;
  width: 15vw;
  padding-top: 100px;
  padding-left: 140px;
  animation: motion 2s linear 0s infinite alternate;
}
.cloud2 {
  top: 10vw;
  margin-left: 39vw;
  z-index: -3;
}
.cloud3 {
  top: 3vw;
  margin-left: 70vw;
  z-index: -3;
}

/* ---- content ------ */
.content {
  width: 100%;
  height: 70vh;
  display: flex;
}
/* content안의 left, right */
.left,
.right {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
/* .content img {
  width: 70%;
} */
.content .left .wolf {
  position: absolute;
  bottom: 4vh;
  width: 48vw;
  left: 26vw;
  animation: fadein 2s;
}
.content .right .house {
  display: none;
}
.content .grass {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.content .grass > img {
  width: 100%;
  vertical-align: bottom;
  z-index: 0;
}
/* ----  /content ------ */
.bird {
  display: none;
}
/* 떠다니는 구름 */
@keyframes motion {
  0% {
    margin-top: 0px;
    transition-timing-function: cubic-bezier(1, 0.2, 0.8, 0.2, 1);
  }
  100% {
    margin-top: 14px;
  }
}
/* 페이드인 */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
