.wolf {
  position: absolute;
  animation: rideSmokeStack 8s linear;
}

@keyframes rideSmokeStack {
  0% {
    left: 0;
  }
  25% {
    left: 50vw;
  }
  50% {
    left: 60vw;
    bottom: 50vh;
  }
  75% {
    left: 60vw;
    bottom: 30vh;
  }
  100% {
    left: 60vw;
    bottom: 5vh;
  }
}

#pig_right1 {
  display: none;
}
#pig_right2 {
  display: none;
}

.button {
  display: none;
}
