.wolf {
  position: absolute;
  animation: rideSmokeStack 8s ease-in-out;
}

@keyframes rideSmokeStack {
  0% {
    left: 0;
  }
  25% {
    left: 50vw;
    bottom: 45vh;
  }
  50% {
    left: 60vw;
  }
  75% {
    left: 60vw;
    bottom: 20vh;
  }
  100% {
    left: 60vw;
    bottom: 5vh;
    transform: scale(0.5)
  }
}
