@import url(../reset.css);

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
}


body {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #f5f5f1;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  padding: 50px;
  /* background-color: lightblue; */
  height: 50px;
  color: gray;
  font-size: 30px;
}
.wrap {
  width: 100%;
  max-width: 1200px;
  height: 500px;
  position: absolute;
  /* background-color: blue; */
  top: 30%;
}

.container {
  width: 100%;
  position: relative;
  width: 100%;
  display: flex;
  height: 500px;
  gap: 20px;
  padding: 50px;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;

  /* > .contentWrap {
    flex: 0 0 250px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
    display: flex;

    > img {
      width: 250px;
    }

    .content {

      span {
        display: block;
        margin-top: 20px;
      }
    }

    &:hover {
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  } */
}

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 300px;
  cursor: pointer;
  backface-visibility: visible;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book img {
  width: 100%;
  height: 100%;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front img, .back img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}

.book:hover .title {
  transform: scaleX(-1);
  top: 40%;
  left: 20%;
  opacity: 1;
  transition: all 2s ease-in;
}

.page5 .title {
  position: absolute;
  top: 80%;
  opacity: 0;
}

.book:hover .synopsys {
  transform: scaleX(1);
  position: absolute;
  top: 1%;
  line-height: 2;
  padding: 25px;
  transition: all 2s ease-in;
  opacity: 1;
}

.page6 .synopsys {
  transform: scaleX(-1);
  font-size: 10px;
  opacity: 0;
}