@import url(../reset.css);

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  box-sizing: border-box;
}


/* body {
  width: 100%;
  height: 100%;
  place-items: center;
  background-color: #f5f5f1;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
} */
::-webkit-scrollbar {
    display: none;
  }
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  padding: 50px;
  background-color: lightblue;
  height: 50px;
  color: gray;
  font-size: 30px;
}

.container {
  max-width: 500px;
  width: 100%;
  height: 600px;
  padding: 200px 1500px 80px 1500px;
  overflow-x: auto;
  gap: 500px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  perspective: 1200px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-55%, -50%);
  background-color: rgba(239, 216, 199, 0.436);
}

.content {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 999;
    
    > .contentTitle {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px;
    }

    > .contentSynopsys {
      width: 350px;
      height: 150px;
      overflow-y: auto;
      line-height: 1.5;
      text-align:left;
    }
  }

.book {
  transform-style: preserve-3d;
  position: relative;
  height: 300px;
  cursor: pointer;
  backface-visibility: visible;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  transform: translatey(0px);
  transition: all .5s ease-in-out;

  &:hover {
      transform: translatey(-30px);
      transition: all .5s ease-in-out;
    }
}

.book img {
  width: 100%;
  height: 100%;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
  transform-style: preserve-3d;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0; left: 0;
  transform-origin: left center;
  transition: transform 1s ease-in-out, box-shadow .35s ease-in-out;
}

.front {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}

.front img, .back img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.front, .page1, .page3, .page5 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.back, .page2, .page4, .page6 {
  border-bottom-right-radius: .5em;
  border-top-right-radius: .5em;
}

.page1 { 
  background: #efefef;
}

.page2 {
  background: #efefef;
}

.page3 {
  background: #f5f5f5;
}

.page4 {
  background: #f5f5f5;
}

.page5 {
  background: #fafafa;
}

.page6 {
  background: #fdfdfd;
}

.book:hover .front {
  transform: rotateY(-160deg) scale(1.1);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .2);
}

.book:hover .page1 {
  transform: rotateY(-150deg) scale(1.1);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .2);
}

.book:hover .page2 {
  transform: rotateY(-30deg) scale(1.1);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .2);
}

.book:hover .page3 {
  transform: rotateY(-140deg) scale(1.1);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .2);
}

.book:hover .page4 {
  transform: rotateY(-40deg) scale(1.1);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .2);
}

.book:hover .page5 {
  transform: rotateY(-130deg) scale(1.1);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .2);
}

.book:hover .page6 {
  transform: rotateY(-50deg) scale(1.1);
  box-shadow: 0 1em 2em 0 rgba(0, 0, 0, .2);
}

.book:hover .back {
  transform: rotateY(-20deg) scale(1.1);
}

.book:hover .title {
  transform: scaleX(-1);
  top: 40%;
  left: 20%;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.page5 .title {
  position: absolute;
  top: 40%;
  left: 20%;
  opacity: 0;
  transition: all .5s ease-in-out;

}

.book:hover .synopsys {
  transform: scaleX(1);
  transform: scale(1);
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  line-height: 2;
  padding: 15px;
  transition: all 1s ease-in-out;
  opacity: 1;

  > img {
    width: 100%;
  }
}

.page6 .synopsys {
  transform: scaleX(-1);
  transform: scale(0);
  position: absolute;
  top: 40%;
  padding: 25px;
  line-height: 0;
  font-size: 10px;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.scrollInfo {
  position: fixed;
  bottom: 10px;
  left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  display: flex;
  gap: 5px;

  > img {
    width: 100%;
    height: 100%;
  }
}


